<div class="container">
  <P>第一個table是使用Type selector的，第二個使用Attribute selector。</P>

  <h1>Table with a row component (broken)</h1>

  <table class="styled-table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Color</th>
    </tr>
    </thead>

    <tbody>
    <app-table-row-broken *ngFor="let car of cars" [car]="car"></app-table-row-broken>
    </tbody>
  </table>


  <h1>Table with a row component</h1>

  <table class="styled-table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Color</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let car of cars" app-table-row [car]="car"></tr>
    </tbody>
  </table>

</div>

